# Virtual Environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# mypy
.mypy_cache/
